:root {
  --font-semi-bold: 600;
}

body {
  font-family: "Inter";
  padding: 0;
  margin: 0;
  background-color: #ffff;
  scroll-behavior: smooth;
  width: 100%;
  box-sizing: border-box;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

img {
  border-radius: 1rem;
}

button {
  all: unset;
}

input {
  border: 1px solid #dfdfdf;
  padding: 0.475rem;
  border-radius: 0.475rem;
}

input:focus {
  outline: none;
  border: 1px solid blue;
}

input:disabled {
  background-color: whitesmoke;
  cursor: not-allowed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  line-height: unset;
}

div {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  display: grid;
  gap: 1.25rem;
}

.header__branding {
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem 0 2rem;
}

.header__branding--logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__branding--logo > img {
  width: 70px;
  height: 70px;
}

.header__nav {
  display: flex;
  gap: 1rem;
}

.header__nav--burger {
}

.header__headline {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  text-align: center;
}

.header__headline--headline {
  font-size: 3.5rem;
  font-weight: bolder;
}

.home {
  display: grid;
  gap: 2rem;
  padding: 1.875rem 2rem;
}

.home--breadcrumb {
  font-size: 1.5rem;
  font-weight: var(--font-semi-bold);
}

.recent__blogpost__wrapper {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(1, 1fr);
}

.recent__blogpost {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  padding: 0.75rem;
}

.recent__blogpost--image {
  max-width: 100%;
  max-width: 100%;
  max-height: 230px;
  object-fit: cover;
}

.recent__blogpost--date {
  color: #a9a9a9;
  font-size: 0.875rem;
  font-weight: var(--font-semi-bold);
}

.recent__blogpost__details {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.recent__blogpost__details--title {
  font-size: 1.5rem;
  font-weight: var(--font-semi-bold);
  max-height: 3.5rem;
  overflow: hidden;
}

.recent__blogpost__details--description {
  color: #667085;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.recent__blog__post--button {
  display: flex;
  justify-content: center;
  margin-top: 0.675rem;
  cursor: pointer;
  box-sizing: border-box;
}

.recent__blog__post--button > button {
  box-sizing: border-box;
  border-bottom: 2px solid black;
  padding: 0.475rem;
}

.recent__blog__post--button > button:hover {
  background-color: black;
  color: white;
  box-sizing: border-box;
}

.blog__post__wrapper {
  display: grid;
  grid-template-columns: 80% 20%;
}

.blog__post {
  display: grid;
  grid-template-rows: 1fr;
  gap: 20px;
  padding: 0 2rem;
}

.blog__post--title {
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
  border-radius: 1rem;
}

.blog__post--content {
  text-align: justify;
  padding: 0 4rem 0 4rem;
}

.blog__post--content > img {
  max-width: 100%;
  max-height: 100%;
}

.related__post__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 2rem 0 0;
  gap: 2rem;
}

.related__post {
  display: flex;
  flex-direction: column;
  gap: 0.675rem;
}

.related__post > img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.75rem;
  padding: 1.125rem 2rem 1.125rem 2rem;
}

.pagination > button {
  background-color: whitesmoke;
  padding: 1rem;
  box-sizing: border-box;
  font-family: "Inter";
  cursor: pointer;
  border-radius: 1rem;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.875rem;
  padding: 1.125rem;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.page__not__found {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page__not__found > img {
  max-width: 30%;
  max-height: 30%;
  object-fit: cover;
}

.login__form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__form--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 30rem;
  border: 1px solid whitesmoke;
  border-radius: 1rem;
  gap: 1.275rem;
}

.login__form__input {
  display: flex;
  flex-direction: column;
  gap: 0.475rem;
  width: 100%;
}

.login__form--btn {
  cursor: pointer;
  color: white;
  background-color: black;
  padding: 0.675rem;
  width: 100px;
  text-align: center;
  border-radius: 1rem;
}

.login__form--btn:hover {
  transition: all 0.3s;
  background-color: rgb(24, 23, 23);
}

/* Mobile */
@media screen and (min-width: 0px) and (max-width: 480px) {
  .blog__post__wrapper {
    grid-template-columns: 1fr;
  }

  .related__post__wrapper {
    padding: 0;
  }

  .related__post__container {
    padding: 0 2rem;
  }

  .recent__blogpost__wrapper {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(1, 1fr);
  }

  .blog__post--content {
    padding: 0 0.5rem;
  }

  .page__not__found > img {
    max-width: 100%;
    max-height: 100%;
  }
}

/* Tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .blog__post__wrapper {
    grid-template-columns: 1fr;
  }

  .related__post__wrapper {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }

  .related__post__container {
    padding: 0 2rem;
  }

  .related__post {
    width: 47%;
  }

  .recent__blogpost__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .recent__blogpost__wrapper
    > div:not(:first-child):nth-child(even):not(:last-child),
  .recent__blogpost__wrapper
    > div:not(:first-child):nth-child(odd):not(:last-child) {
    width: 50%;
  }

  .header__headline--headline {
    font-size: 6rem;
  }

  .blog__post--content {
    padding: 0 0.5rem;
  }

  .page__not__found > img {
    max-width: 40%;
    max-height: 40%;
  }
}

/* Laptops */
@media screen and (min-width: 769px) and (max-width: 1279px) {
  .recent__blogpost__wrapper {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
  }

  .header__headline--headline {
    font-size: 8.5rem;
  }

  .blog__post--content {
    padding: 0 8rem;
  }

  .page__not__found > img {
    max-width: 60%;
    max-height: 60%;
  }
}

/* Computer */
@media screen and (min-width: 1280px) {
  .recent__blogpost__wrapper {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
  }

  .header__headline--headline {
    font-size: 10rem;
  }
}
