:root {
  --font-semi-bold: 600;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter";
  padding: 0;
  margin: 0;
  background-color: #ffff;
  scroll-behavior: smooth;
  width: 100%;
  box-sizing: border-box;
}

img {
  border-radius: 1rem;
}

button {
  box-sizing: border-box;
  all: unset;
}

input {
  border: 1px solid #dfdfdf;
  padding: 0.475rem;
  border-radius: 0.475rem;
}

input[aria-invalid="true"] {
  border: 1px solid red;
}

input:focus {
  outline: none;
  border: 1px solid black;
}

input:disabled {
  background-color: whitesmoke;
  cursor: not-allowed;
}

button:disabled {
  cursor: not-allowed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  line-height: unset;
}

div {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  display: grid;
  gap: 1.25rem;
}

.header__branding {
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem 0 2rem;
}

.header__branding--logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__branding--logo > img {
  width: 70px;
  height: 70px;
}

.header__nav {
  display: flex;
  gap: 1rem;
}

.header__nav--burger {
}

.header__headline {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  text-align: center;
}

.header__headline--headline {
  font-size: 3.5rem;
  font-weight: bolder;
}

.home {
  display: grid;
  gap: 2rem;
  padding: 1.875rem 2rem;
}

.home--breadcrumb {
  font-size: 1.5rem;
  font-weight: var(--font-semi-bold);
}

.recent__blogpost__wrapper {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(1, 1fr);
}

.recent__blogpost {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  padding: 0.75rem;
}

.recent__blogpost--image {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-width: 100%;
  max-height: 230px;
  object-fit: cover;
  object-position: center 5%;
}

.recent__blogpost--date {
  color: #a9a9a9;
  font-size: 0.875rem;
  font-weight: var(--font-semi-bold);
}

.recent__blogpost__details {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.recent__blogpost__details--title {
  font-size: 1.5rem;
  font-weight: var(--font-semi-bold);
  max-height: 3.5rem;
  overflow: hidden;
}

.recent__blogpost__details--description {
  color: #667085;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.recent__blog__post--button {
  display: flex;
  justify-content: center;
  margin-top: 0.675rem;
  box-sizing: border-box;
}

.recent__blog__post--button > button {
  box-sizing: border-box;
  border-bottom: 2px solid black;
  padding: 0.475rem;
  cursor: pointer;
}

.recent__blog__post--button > button:hover {
  background-color: black;
  color: white;
  box-sizing: border-box;
}

.blog__post__wrapper {
  display: grid;
  grid-template-columns: 80% 20%;
}

.blog__post {
  display: grid;
  grid-template-rows: 1fr;
  gap: 20px;
  padding: 0 2rem;
}

.blog__post--title {
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
  border-radius: 1rem;
}

.blog__post--content {
  text-align: justify;
  padding: 0 4rem 0 4rem;
}

.blog__post--content > img {
  max-width: 50%;
  max-height: 100%;
}

.related__post__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 2rem 0 0;
  gap: 2rem;
}

.related__post {
  display: flex;
  flex-direction: column;
  gap: 0.675rem;
}

.related__post > img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.75rem;
  padding: 1.125rem 2rem 1.125rem 2rem;
}

.pagination > button {
  background-color: whitesmoke;
  padding: 1rem;
  box-sizing: border-box;
  font-family: "Inter";
  cursor: pointer;
  border-radius: 1rem;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.875rem;
  padding: 1.125rem;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.footer__emailus {
  transition: all 0.3s;
  padding: 0.675rem;
  background-color: black;
  color: white;
}

.footer__emailus:hover {
  background-color: rgb(24, 23, 23);
}

.page__not__found {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page__not__found > img {
  max-width: 30%;
  max-height: 30%;
  object-fit: cover;
}

.login__form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__form--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 30rem;
  border: 1px solid whitesmoke;
  border-radius: 1rem;
  gap: 1.275rem;
}

.login__form__input {
  display: flex;
  flex-direction: column;
  gap: 0.475rem;
  width: 100%;
}

.login__form--btn {
  cursor: pointer;
  color: white;
  background-color: black;
  padding: 0.675rem;
  min-width: 100px;
  width: fit-content;
  text-align: center;
  border-radius: 1rem;
}

.login__form--btn:disabled {
  cursor: not-allowed;
  background-color: white;
  color: black;
}

.login__form--btn:not(:disabled):hover {
  transition: all 0.3s;
  background-color: rgb(24, 23, 23);
}

.dashboard__header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 2.75rem;
  padding: 0.75rem;
  border-bottom: 1px solid #dfdfdf;
  margin-left: 11rem;
  overflow: hidden;
}

.dashboard__header--actions {
  display: flex;
  justify-content: end;
}

.dashboard__header > a {
  display: flex;
  justify-content: end;
  align-items: center;
}

.dashboard__sidenav {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: 45rem;
  width: 11rem;
  padding: 0.75rem;
  background-color: white;
  border-right: 1px solid #dfdfdf;
  overflow: hidden;
}

.dashboard__sidenav--branding > img {
  max-width: 250px;
  max-height: 250px;
  width: 100%;
  height: 100%;
}

.dashboard__sidenav--new-post > button {
  box-sizing: border-box;
  border-radius: 1rem;
  width: 100%;
  padding: 0.325rem;
  border: 1px solid black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.375rem;
}

.dashboard__sidenav--new-post > button:hover {
  background-color: black;
  color: white;
}

.dashboard__sidenav__menu {
  border-top: 1px solid #d9d9d9;
  padding: 0.675rem 0;
  margin-top: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dashboard__sidenav__menu--link {
  background-color: whitesmoke;
  border-radius: 1rem;
}

.dashboard__sidenav__menu--link > a {
  margin-left: 0.325rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.675rem 0.325rem;
}

.dashboard__sidenav__menu--link > a > i {
  width: 0.5rem;
  margin-right: 0.6rem;
}

.dashboard__sidenav__menu--link:hover,
.dashboard__sidenav__menu--link:hover a {
  border-radius: 1rem;
  background-color: black;
  color: white;
}

.dashboard__main {
  margin: 2.75rem 0 0 11rem;
  padding: 0.675rem;
}

.editor__history {
  display: flex;
  justify-content: end;
}

.editor__history > span {
  font-style: italic;
  font-size: 12px;
  color: gray;
}

.editor__menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.editor__menu--text-position,
.editor__menu--formatting,
.editor__menu--text-attachments,
.editor__menu--revert {
  display: flex;
  flex-direction: row;
  border: 1px solid whitesmoke;
  background-color: white;
  padding: 0.125rem;
}

.editor__menu--text-position > button {
  padding: 0.275rem;
  text-align: center;
  width: 1.5rem;
  height: 1.5rem;
}

.editor__menu--text-position > select {
  padding: 0.375rem;
  border: unset;
}

.editor__menu--text-position > select > option,
li {
  padding: 0.375rem;
}

.editor__menu--text-position > select > option.font-inter {
  font-family: Inter;
}

.editor__menu--text-position > select > option.font-arial {
  font-family: Arial;
}

.editor__menu--text-position > select > option.font-comic {
  font-family: Comic Sans MS, Comic Sans;
}

.editor__menu--text-position > select > option.font-serif {
  font-family: serif;
}

.editor__menu--text-position > select > option.font-mono {
  font-family: monospace;
}

.editor__menu--text-position > select > option.font-cursive {
  font-family: cursive;
}

.editor__menu--text-position > select:focus-visible,
.editor__menu--text-position > select:active {
  border: unset;
  outline: unset;
}

.editor__menu--text-attachments > button,
.editor__menu--formatting > button,
.editor__menu--revert > button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.275rem;
  padding: 0.275rem;
  text-align: center;
  width: fit-content;
  height: 1.5rem;
}

.editor__menu--text-position > button:hover,
.editor__menu--formatting > button:hover,
.editor__menu--text-attachments > button:hover,
.editor__menu--revert > button:hover,
.editor__menu--text-position > select:hover {
  background-color: whitesmoke;
  border-radius: 0.375rem;
}

.editor__action__buttons {
  margin-top: 0.275rem;
  display: flex;
  justify-content: end;
  gap: 0.475rem;
}

.editor__action__buttons > button {
  box-sizing: border-box;
  border-bottom: 2px solid black;
  padding: 0.475rem;
  cursor: pointer;
}

.editor__action__buttons > button:hover {
  background-color: black;
  color: white;
  box-sizing: border-box;
}

.is-active {
  background-color: whitesmoke;
}

.tiptap {
  :first-child {
    margin-top: 0;
  }

  pre {
    background: black;
    border-radius: 0.5rem;
    color: white;
    font-family: "JetBrainsMono", monospace;
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;

    code {
      background: none;
      color: inherit;
      font-size: 0.8rem;
      padding: 0;
    }
  }

  blockquote {
    border-left: 3px solid gray;
    margin: 1.5rem 0;
    padding-left: 1rem;
  }
}

.ProseMirror {
  margin-top: 0.675rem;
  padding: 1rem 5rem;
  border: 1px solid whitesmoke;
  border-bottom-right-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
  min-height: 45rem;
  max-height: 45rem;
  overflow: auto;
  border-radius: 1rem;
}

.ProseMirror > img {
  width: 50%;
  height: 100%;
}

.ProseMirror[aria-invalid="true"] {
  border: 1px solid red;
}

.ProseMirror:focus {
  outline: none;
  border: 1px solid black !important;
}

.form-group {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 0.275rem;
  margin: 0.425rem 0;
}

.form-row {
  display: flex;
  flex-direction: row;
  gap: 0.475rem;
}

.form-row > .form-group {
  flex: 1;
}

.blogposts__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.675rem;
}

.blog__posts {
  background-color: whitesmoke;
  flex: 0 19%;
  padding: 0.675rem;
  min-height: 230px;
  max-height: 230px;
  overflow: hidden;
  border-radius: 1rem;
  box-sizing: border-box;
  position: relative;
}

.blog__posts--option {
  position: absolute;
  right: 0;
  top: 0;
  color: #000;
}

.blog__posts--option > button {
  cursor: pointer;
  padding: 0.675rem;
  box-sizing: border-box;
  border-radius: 5rem;
  transition: all 0.3s;
}

.blog__posts--option > button:hover {
  color: white;
  background-color: black;
}

.blog__posts > span {
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.blog__posts > img {
  min-width: 100%;
  min-height: 80%;
  max-width: 100%;
  max-height: 80%;
  object-fit: cover;
}

/* Mobile */
@media screen and (min-width: 0px) and (max-width: 480px) {
  .blog__post__wrapper {
    grid-template-columns: 1fr;
  }

  .related__post__wrapper {
    padding: 0;
  }

  .related__post__container {
    padding: 0 2rem;
  }

  .recent__blogpost__wrapper {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(1, 1fr);
  }

  .blog__post--content {
    padding: 0 0.5rem;
  }

  .page__not__found > img {
    max-width: 100%;
    max-height: 100%;
  }
}

/* Tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .blog__post__wrapper {
    grid-template-columns: 1fr;
  }

  .related__post__wrapper {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }

  .related__post__container {
    padding: 0 2rem;
  }

  .related__post {
    width: 47%;
  }

  .recent__blogpost__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .recent__blogpost__wrapper
    > div:not(:first-child):nth-child(even):not(:last-child),
  .recent__blogpost__wrapper
    > div:not(:first-child):nth-child(odd):not(:last-child) {
    width: 50%;
  }

  .recent__blogpost__wrapper > div:first-child,
  .recent__blogpost__wrapper > div:last-child {
    width: 100%;
  }

  .header__headline--headline {
    font-size: 6rem;
  }

  .blog__post--content {
    padding: 0 0.5rem;
  }

  .page__not__found > img {
    max-width: 40%;
    max-height: 40%;
  }
}

/* Laptops */
@media screen and (min-width: 769px) and (max-width: 1279px) {
  .recent__blogpost__wrapper {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
  }

  .header__headline--headline {
    font-size: 8.5rem;
  }

  .blog__post--content {
    padding: 0 8rem;
  }

  .page__not__found > img {
    max-width: 60%;
    max-height: 60%;
  }
}

/* Computer */
@media screen and (min-width: 1280px) {
  .recent__blogpost__wrapper {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
  }

  .header__headline--headline {
    font-size: 10rem;
  }
}
